.general-message
{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 5;
    min-width: 500px;
    border-radius: 50px;
    color: #525252;
}

.h-200 {
    height: 200px;
}

.imageuploadify {
    min-height: unset;
    min-width: unset;
    max-width: unset;
    height: 100%;
}

.imageuploadify .imageuploadify-images-list {
    height: 100%;
}

.imageuploadify .imageuploadify-images-list button.btn-default {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 500px;
    border: none;
    background: transparent;
    align-items: center;
    justify-content: center;
}

.btn:focus {
    box-shadow: unset;
}

.imageuploadify .imageuploadify-images-list i {
    display: flex;
    font-size: 5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding-bottom: 0;
}

.btn i {
    margin-bottom: 0;
    margin-right: 0;
}

.img_settings {
    width: 200px;
    display: block;
}

.img-about-settings {
    width: 200px;
}

.align-center {
    align-items: center;
    text-align: center;
}

.slogan {
    width: 100%;
    padding: 10px;
    text-align: left;
}

.about_slogan {
    margin-left: 5px;
}